@model X.PagedList.IPagedList<Produto>;
@{
    ViewData["Title"] = "Index";
    var pesquisa = Context.Request.Query["pesquisa"];
}

<h3>Produto</h3>
<br />

<form method="get">
    <div class="form-group">
        <div class="input-group mb-sm-auto">
            <input type="text" value="@pesquisa" name="pesquisa" id="pesquisa" class="form-control" placeholder="Digite o nome do produto" aria-describedby="btnPesquisa">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" id="btnPesquisa">
                    <svg type="submit" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</form>

<a asp-action="Cadastrar" class="btn btn-primary" style="margin-bottom:8px">Cadastrar</a>

@if (Model.Count > 0)
{
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(x => Model.First().Nome)</th>
                    <th scope="col">@Html.DisplayNameFor(x => Model.First().Categoria.Nome)</th>
                    <th scope="col">@Html.DisplayNameFor(x => Model.First().Valor)</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Produto produto in Model)
                {
                    <tr>
                        <th scope="row"> @produto.Nome</th>
                        <td>@Html.DisplayFor(x => produto.Categoria.Nome)</td>
                        <td>@Html.DisplayFor(x => produto.Valor)</td>
                        <td>
                            <a asp-action="Atualizar" class="btn btn-secondary" asp-route-id="@produto.Id">Atualizar</a>
                            <a asp-action="Excluir" class="btn btn-danger" asp-route-id="@produto.Id">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @Html.PagedListPager((IPagedList)Model, pagina => Url.Action("Index", new { pagina = pagina, pesquisa = pesquisa }))

    @if (TempData["MSG_S"] != null)
    {
        <p class="alert alert-success">@TempData["MSG_S"]</p>
    }
}
else
{
    <br />
    <br />
    <span>Nenhum registro encontrado!</span>
}


